@import "normalize.css";
@import "reset.css";
@import "variables.css";

body {
    background-color: var(--bg-color);
    color: var(--text-color);

    font-family: var(--roboto-font);
    font-weight: var(--light-weight);

    overflow-x: hidden;
}

header {
    height: 3rem;
    width: 100%;
    padding: 1rem;

    display: flex;
    align-items: center;
}

.logo h1 {
    font-size: 2rem;
    font-weight: var(--regular-weight);
}

main {
    max-width: 80%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.loading {
    background-color: var(--bg-color);
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.loading__spinner .center {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading__spinner .wave {
    width: 5px;
    height: 100px;
    background: linear-gradient(45deg, var(--table-color), var(--modal-window-color));
    margin: 10px;
    animation: wave 1s linear infinite;
    border-radius: 20px;
}
.loading__spinner .wave:nth-child(2) {
    animation-delay: 0.1s;
}
.loading__spinner .wave:nth-child(3) {
    animation-delay: 0.2s;
}
.loading__spinner .wave:nth-child(4) {
    animation-delay: 0.3s;
}
.loading__spinner .wave:nth-child(5) {
    animation-delay: 0.4s;
}
.loading__spinner .wave:nth-child(6) {
    animation-delay: 0.5s;
}
.loading__spinner .wave:nth-child(7) {
    animation-delay: 0.6s;
}
.loading__spinner .wave:nth-child(8) {
    animation-delay: 0.7s;
}
.loading__spinner .wave:nth-child(9) {
    animation-delay: 0.8s;
}
.loading__spinner .wave:nth-child(10) {
    animation-delay: 0.9s;
}

@keyframes wave {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}


.loaded {
    display: none;
}

.select {
    background-color: var(--table-color);
    color: #fff;

    border: none;
    border-radius: 0.5rem;
    outline: none;

    font-size: 0.8rem;

    margin-bottom: 1rem;
}

.input {
    margin-bottom: 1rem;
}

.input input {
    width: 4rem;

    border: none;
    outline: none;
}

.input button {
    border: none;
    text-transform: uppercase;
    background-color: var(--modal-window-color);

    transition: box-shadow 0.1s ease-in;
}

.input button:hover {
    box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.3);
}

.table {
    min-width: 20rem;

    border: 2px solid var(--table-color);
}

.table__head {
    height: 2rem;

    border-bottom: 2px solid var(--table-color);

    display: flex;
    justify-content: center;
    align-items: center;
}

.table__body__element {
    min-height: 2rem;
    padding: 1rem;

    border-bottom: 2px solid var(--table-color);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 0.2s ease-in;
}

.table__body__element:hover {
    background-color: var(--modal-window-color);
    position: relative;
}

.table__body__popout {
    background-color: var(--modal-window-color);
    width: 15rem;
    min-height: 2rem;

    padding: 1rem;

    position: absolute;
    top: -2px;
    left: calc(100% + 2px);
}

.table__body__popout p{
    margin-bottom: 1rem;
}

.table__body__popout__title {
    display: flex;
    justify-content: space-between;
}

.selected {
    opacity: 0.1;
}
