@import "normalize.css";
@import "reset.css";
@import "variables.css";

body {
    background-color: var(--bg-color);
    color: var(--text-color);

    font-family: var(--roboto-font);
    font-weight: var(--light-weight);
}

header {
    height: 3rem;
    width: 100%;
    padding: 1rem;

    display: flex;
    align-items: center;
}

.logo h1 {
    font-size: 2rem;
    font-weight: var(--regular-weight);
}

main {
    max-width: 80%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.select {
    background-color: var(--table-color);
    color: #fff;

    border: none;
    border-radius: 0.5rem;
    outline: none;

    font-size: 0.8rem;

    margin-bottom: 1rem;
}

.table {
    width: 10rem;

    border: 2px solid var(--table-color);
}

.table__head {
    height: 2rem;

    border-bottom: 2px solid var(--table-color);

    display: flex;
    justify-content: center;
    align-items: center;
}

.table__body__element {
    height: 2rem;

    border-bottom: 2px solid var(--table-color);

    display: flex;
    justify-content: center;
    align-items: center;
}
